<?xml version="1.0"?>
<config>
    <modules>
        <GraciousStudios_Margins>
            <version>0.1.0</version>
        </GraciousStudios_Margins>
    </modules>
    <global>
        <helpers>
            <margins>
                <class>GraciousStudios_Margins_Helper</class>
            </margins>
        </helpers>
        <blocks>
            <margins>
                <class>GraciousStudios_Margins_Block</class>
            </margins>
        </blocks>
        <models>
            <margins>
                <class>GraciousStudios_Margins_Model</class>
                <resourceModel>margins_mysql4</resourceModel>
            </margins>
        </models>
        <resources>
            <graciousstudios_margins_setup>
                <setup>
                    <module>GraciousStudios_Margins</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </graciousstudios_margins_setup>
            <graciousstudios_margins_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </graciousstudios_margins_write>
            <graciousstudios_margins_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </graciousstudios_margins_read>
        </resources>
    </global>
    <admin>
        <routers>
            <margins>
                <use>admin</use>
                <args>
                    <module>GraciousStudios_Margins</module>
                    <frontName>admin_margins</frontName>
                </args>
            </margins>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>graciousstudios_margins.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <menu>
            <sales>
                <children>
                    <margins module="margins">
                        <title>Margins</title>
                        <sort_order>20</sort_order>
                        <action>admin_margins/adminhtml_marginsbackend</action>
                    </margins>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <margins module="margins">
                                    <title>Margins</title>
                                    <sort_order>20</sort_order>
                                    <action>admin_margins/adminhtml_marginsbackend</action>
                                </margins>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <margins>
                    <file>margins.xml</file>
                </margins>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <margins_generate>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>margins/margins::generate</model>
                </run>
            </margins_generate>
        </jobs>
    </crontab>
</config> 