<?xml version="1.0"?>
<config>
    <modules>
        <GraciousStudios_Margins>
            <version>0.1.3</version>
        </GraciousStudios_Margins>
    </modules>
    <global>
        <blocks>
            <margins>
                <class>GraciousStudios_Margins_Block</class>
            </margins>
        </blocks>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <margins_add_cost_to_quote>
                        <class>GraciousStudios_Margins_Model_Observer</class>
                        <method>addCostToQuote</method>
                    </margins_add_cost_to_quote>
                </observers>
            </sales_quote_item_set_product>
            <checkout_type_onepage_save_order>
                <observers>
                    <margins_add_margins_to_order>
                        <class>GraciousStudios_Margins_Model_Observer</class>
                        <method>addMarginsToOrder</method>
                    </margins_add_margins_to_order>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <cost>
                    <to_order_item>*</to_order_item>
                </cost>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <cost>
                    <to_quote_item>*</to_quote_item>
                </cost>
            </sales_convert_order_item>
        </fieldsets>
        <helpers>
            <margins>
                <class>GraciousStudios_Margins_Helper</class>
            </margins>
        </helpers>
        <models>
            <!--<margins>-->
                <!--<class>GraciousStudios_Margins_Model</class>-->
                <!--<resourceModel>margins_mysql4</resourceModel>-->
            <!--</margins>-->
            <!--<margins_mysql4>-->
                <!--<class>GraciousStudios_Margins_Model_Mysql4</class>-->
                <!--<entities>-->
                    <!--<margins>-->
                        <!--<table>gs_margins</table>-->
                    <!--</margins>-->
                <!--</entities>-->
            <!--</margins_mysql4>-->
            <sales_resource>
                <rewrite>
                    <order_item_collection>GraciousStudios_Margins_Model_Resource_Order_Item_Collection</order_item_collection>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <margins_setup>
                <setup>
                    <module>GraciousStudios_Margins</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </margins_setup>
            <margins_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </margins_write>
            <margins_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </margins_read>
        </resources>
    </global>
    <admin>
        <routers>
            <margins>
                <use>admin</use>
                <args>
                    <module>GraciousStudios_Margins</module>
                    <frontName>admin_margins</frontName>
                </args>
            </margins>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>graciousstudios_margins.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <menu>
            <sales>
                <children>
                    <margins module="margins">
                        <title>Margins</title>
                        <sort_order>20</sort_order>
                        <action>admin_margins/adminhtml_marginsbackend</action>
                    </margins>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <margins module="margins">
                                    <title>Margins</title>
                                    <sort_order>20</sort_order>
                                    <action>admin_margins/adminhtml_marginsbackend</action>
                                </margins>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <margins>
                    <file>margins.xml</file>
                </margins>
            </updates>
        </layout>
    </adminhtml>
    <!--<crontab>-->
        <!--<jobs>-->
            <!--<gracefulmargins_generate>-->
                <!--<schedule>-->
                    <!--<cron_expr>0 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>margins/margins::generate</model>-->
                <!--</run>-->
            <!--</gracefulmargins_generate>-->
        <!--</jobs>-->
    <!--</crontab>-->
</config> 